


#container{
	
margin-left: 175px;
margin-right: 175px;
padding-left: 12px;
padding-right: 12px;
text-align: center;
}
div.bg{
	background-image: url("../img/header.jpg") ;
	height:730px;
	background-size: cover;
     background-repeat: no-repeat;
	width: 100%
}
h1{ text-align: center;}